* {
    font-family: 'Roboto Condensed', sans-serif;
}

input:focus {
    outline: none;
}

input {
    box-sizing: border-box
}

.container {
    max-width: 1200px;
    margin: auto;
}

.type-bug {
    background: #059669;
}

.type-dragon {
    background: #2ec4b6;
}

.type-grass {
    background: #16c172;
}

.type-steel {
    background: #73e2a7;
}
.type-dark {
    background: #434649;
}

.type-flying {
    background: #8b9cad;
}

.type-normal {
    background: #c18cba;
}

.type-ghost {
    background: #9a54a1;
}

.type-rock {
    background: #63320b;
}

.type-ground {
    background: #885629;
}

.type-fighting {
    background: #c75000;
}

.type-fire {
    background: #ef271b;
}

.type-electric {
    background: #ffbf00;
}

.type-poison {
    background: #6e44ff;
}

.type-psychic {
    background: #db00b6;
} 

.type-fairy {
    background: #ee4268;
}

.type-water {
    background: #4361ee;
}

.type-ice {
    background: #90e0ef;
}

ul {
    list-style: none;
    padding: 0;
}

.flex {
    display: flex;
}

.w-50 {
    width: 50%;
}

.align-item-center {
    align-items: center;
}